/*------------------
     RESET
--------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------------------
    TYPOGRAPHY
--------------------*/

body {
    font-family: "Roboto", serif;
}


/*------------------
    HEADER
--------------------*/

.header {
    display: flex;
    /* justify-content: space-around; */
    background-color: #3161e0;
    padding: 15px;
    color: white;
    font-size: 20px;
    text-decoration: none;
    
}

.navigation{
    display: flex;
    width: 47%;
    height: 40px;
    justify-content: space-around;
    align-items: center;
}

.navigation a {
    text-decoration: none;
    color: white;
}

.login {
    display: flex;
    width: 27%;
    height: 40px;
    justify-content: space-around;
    align-items: center;
}

.login-button{
    text-decoration: none;
    color: black;
    

    background-color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}



.nav-left{
    
    background-color: #3161e0;
    width: 26%;
    height: 40px;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    
   
}

.nav-center{

    background-color: #3161e0;
    width: 60%;
    text-align: center;
    padding: 5px;
    

}

.nav-right{

    background-color: #3161e0;
    width: 20%;
    text-align: right;
    padding: 5px;
}


header {
    display: flex;
    /* justify-content: space-around; */
    
}